In [1]:
# Import modules
from bs4 import BeautifulSoup
import requests
from splinter import Browser
from selenium import webdriver
import pandas as pd
import time

In [2]:
# URL of page to be scraped
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'

In [3]:
# https://splinter.readthedocs.io/en/latest/drivers/chrome.html
!which chromedriver

/usr/local/bin/chromedriver

In [4]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [5]:
browser.visit(url)

In [6]:
# html = browser.html

In [7]:
# soup = BeautifulSoup(html, 'html.parser')

In [6]:
article_title = browser.find_by_css("div.content_title a").text
article_title

"NASA's Perseverance Rover Will Carry First Spacesuit Materials to Mars"

In [7]:
news_p2 = browser.find_by_css("div.article_teaser_body").text

In [8]:
news_p2

'In a Q&A, spacesuit designer Amy Ross explains how five samples, including a piece of helmet visor, will be tested aboard the rover, which is targeting a July 30 launch.'

In [9]:
browser.quit()

### JPL Mars Space Images - Featured Image

In [10]:
# URL of page to be scraped
jpl_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'

In [26]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [27]:
browser.visit(jpl_url)

In [28]:
jpl_html = browser.html

In [29]:
jpl_soup = BeautifulSoup(jpl_html, 'html.parser')

In [30]:
full_image_btn = browser.find_by_id("full_image")
full_image_btn.click()

In [31]:
full_image_html = browser.html
full_image_soup = BeautifulSoup(full_image_html, 'html.parser')

In [32]:
# full_image_soup

In [33]:
more_btn = browser.links.find_by_partial_text('more info')
more_btn.click()

In [34]:
more_info_html = browser.html
img_soup = BeautifulSoup(more_info_html, 'html.parser')

In [35]:
src_link = img_soup.select_one('figure.lede a img').get("src")
featured_image_url = f'https://www.jpl.nasa.gov{src_link}'
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA17254_hires.jpg'

In [36]:
img_info = img_soup.find_all('img', {'class': 'main_image'})
img_info

[<img alt="This artist's concept shows the NASA's WISE spacecraft, in its orbit around Earth. In September of 2013, engineers will attempt to bring the mission out of hibernation to hunt for more asteroids and comets in a project called NEOWISE." class="main_image" src="/spaceimages/images/largesize/PIA17254_hires.jpg" title="This artist's concept shows the NASA's WISE spacecraft, in its orbit around Earth. In September of 2013, engineers will attempt to bring the mission out of hibernation to hunt for more asteroids and comets in a project called NEOWISE."/>]

In [37]:
img_info[0]['src']

'/spaceimages/images/largesize/PIA17254_hires.jpg'

In [38]:
for x in img_info:
    link = x['src']

In [39]:
link = x['src']

In [40]:
link

'/spaceimages/images/largesize/PIA17254_hires.jpg'

In [41]:
featured_image_url = f'https://www.jpl.nasa.gov{link}'
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA17254_hires.jpg'

In [43]:
browser.quit()

### Mars Weather - attempt 1

In [50]:
mars_url = 'https://twitter.com/marswxreport?lang=en'

In [51]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [52]:
browser.visit(mars_url)

In [53]:
html = browser.html

In [54]:
soup = BeautifulSoup(html, 'html.parser')

In [55]:
# results = soup.findall("div", attr={ "data-testid" : "tweet" })

TypeError: 'NoneType' object is not callable

In [56]:
spans = results.findAll('span')

NameError: name 'results' is not defined

In [57]:
browser.find_by_name('name')[1]

ElementDoesNotExist: no elements could be found with name "name"

### Mars Weather - attempt 2 - span element

In [58]:
tweets = soup.find_all('span') #, class_='css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0')

In [59]:
tweets_list = []
for tweet in tweets:
    if "InSight" in tweet.text: 
        print('page:', '-------------')
        print(tweet.text)
        tweets_list.append(tweet.text)

#     browser.click_link_by_text('Next ')

page: -------------
InSight sol 593 (2020-07-27) low -91.8ºC (-133.2ºF) high -16.0ºC (3.3ºF)
winds from the WNW at 6.5 m/s (14.4 mph) gusting to 18.8 m/s (42.1 mph)
pressure at 7.90 hPa
page: -------------
InSight sol 592 (2020-07-26) low -92.0ºC (-133.6ºF) high -15.1ºC (4.8ºF)
winds from the WNW at 6.8 m/s (15.2 mph) gusting to 17.8 m/s (39.8 mph)
pressure at 7.90 hPa
page: -------------
InSight sol 591 (2020-07-25) low -91.2ºC (-132.2ºF) high -15.5ºC (4.2ºF)
winds from the WNW at 7.5 m/s (16.9 mph) gusting to 19.0 m/s (42.5 mph)
pressure at 7.90 hPa
page: -------------
InSight sol 590 (2020-07-24) low -90.0ºC (-129.9ºF) high -13.8ºC (7.2ºF)
winds from the WNW at 6.5 m/s (14.5 mph) gusting to 17.9 m/s (40.1 mph)
pressure at 7.90 hPa
page: -------------
InSight sol 589 (2020-07-23) low -90.1ºC (-130.2ºF) high -13.1ºC (8.4ºF)
winds from the W at 5.7 m/s (12.8 mph) gusting to 16.1 m/s (35.9 mph)
pressure at 7.90 hPa
page: -------------
InSight sol 588 (2020-07-22) low -89.2ºC (-128.6ºF) high -11.0ºC (12.2ºF)
winds from the W at 5.7 m/s (12.7 mph) gusting to 18.9 m/s (42.3 mph)
pressure at 7.90 hPa
page: -------------
InSight sol 587 (2020-07-21) low -89.2ºC (-128.5ºF) high -9.8ºC (14.3ºF)
winds from the WNW at 5.3 m/s (11.8 mph) gusting to 14.1 m/s (31.5 mph)
pressure at 7.80 hPa
page: -------------
InSight sol 586 (2020-07-20) low -131.8ºC (-205.2ºF) high -7.1ºC (19.2ºF)
winds from the WNW at 3.8 m/s (8.4 mph) gusting to 13.2 m/s (29.6 mph)
pressure at 7.90 hPa
page: -------------
InSight sol 585 (2020-07-19) low -89.2ºC (-128.5ºF) high -12.0ºC (10.3ºF)
winds from the W at 6.2 m/s (13.9 mph) gusting to 18.9 m/s (42.3 mph)
pressure at 7.80 hPa
page: -------------
InSight sol 584 (2020-07-18) low -89.1ºC (-128.4ºF) high -12.3ºC (9.9ºF)
winds from the WNW at 5.8 m/s (12.9 mph) gusting to 16.0 m/s (35.8 mph)
pressure at 7.80 hPa
page: -------------
InSight sol 583 (2020-07-17) low -89.0ºC (-128.3ºF) high -7.2ºC (19.0ºF)
winds from the W at 5.4 m/s (12.1 mph) gusting to 13.4 m/s (30.1 mph)
pressure at 7.80 hPa

In [60]:
len(tweets)

170

In [61]:
len(tweets_list)

11

In [62]:
mars_weather = tweets_list[0].strip()

In [64]:
mars_weather.strip()

'InSight sol 593 (2020-07-27) low -91.8ºC (-133.2ºF) high -16.0ºC (3.3ºF)\nwinds from the WNW at 6.5 m/s (14.4 mph) gusting to 18.8 m/s (42.1 mph)\npressure at 7.90 hPa'

In [65]:
browser.quit()

### Mars Weather - attempt 3

In [66]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [67]:
browser.visit('https://twitter.com/marswxreport?lang=en')
html = browser.html

In [68]:
soup = BeautifulSoup(html, 'html.parser')

In [69]:
mars_weather = browser.find_by_css('#react-root > div > div > div.css-1dbjc4n.r-13qz1uu.r-417010 > main > div > div > div > div.css-1dbjc4n.r-14lw9ot.r-1tlfku8.r-1ljd8xs.r-13l2t4g.r-1phboty.r-1jgb5lz.r-1ye8kvj.r-13qz1uu.r-184en5c > div > div > div > div > div:nth-child(3) > section > div > div > div > div:nth-child(1) > div > div > article > div > div > div > div.css-1dbjc4n.r-18u37iz > div.css-1dbjc4n.r-1iusvr4.r-16y2uox.r-1777fci.r-1mi0q7o > div:nth-child(2) > div:nth-child(1) > div > span')

In [70]:
mars_weather

In [72]:
mars_weather[0].text

'InSight sol 593 (2020-07-27) low -91.8ºC (-133.2ºF) high -16.0ºC (3.3ºF)\nwinds from the WNW at 6.5 m/s (14.4 mph) gusting to 18.8 m/s (42.1 mph)\npressure at 7.90 hPa'

In [73]:
browser.quit()

### Mars Weather - attempt 4

In [74]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [75]:
mars_url = 'https://twitter.com/marswxreport?lang=en'

In [76]:
browser.visit(mars_url)

In [77]:
html = browser.html

In [78]:
soup = BeautifulSoup(html, 'html.parser')

In [80]:
# tweet_container = soup.find_all('div', class_="js-tweet-text-container")

In [81]:
# tweet_container

In [82]:
# tweets_cont_list = []
# for tweet in tweet_container:
#     if "InSight" in tweet.text: 
#         print('page:', '-------------')
#         print(tweet.text)
#         tweets_cont_list.append(tweet.text)

In [40]:
# mars_url = 'https://twitter.com/marswxreport?lang=en'
# browser.visit(mars_url)
# html = browser.html
# time.sleep(3)
# soup = BeautifulSoup(html, 'html.parser')

In [79]:
results = soup.find("div", { "data-testid" : "tweet" })
results.text.strip()

'Mars Weather@MarsWxReport·15hInSight sol 593 (2020-07-27) low -91.8ºC (-133.2ºF) high -16.0ºC (3.3ºF)\nwinds from the WNW at 6.5 m/s (14.4 mph) gusting to 18.8 m/s (42.1 mph)\npressure at 7.90 hPa519'

In [80]:
spans = results.find_all('span')
spans

[<span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0"><span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Mars Weather</span></span>,
 <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Mars Weather</span>,
 <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">@MarsWxReport</span>,
 <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">·</span>,
 <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">InSight sol 593 (2020-07-27) low -91.8ºC (-133.2ºF) high -16.0ºC (3.3ºF)
 winds from the WNW at 6.5 m/s (14.4 mph) gusting to 18.8 m/s (42.1 mph)
 pressure at 7.90 hPa</span>,
 <span class="css-901oao css-16my406 r-1qd0xha r-n6v787 r-1sf4r6n r-1n0xq6e r-bcqeeo r-d3hbe1 r-1wgg2b2 r-axxi2z r-qvutc0"><span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">5</span></span>,
 <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">5</span>,
 <span class="css-901oao css-16my406 r-1qd0xha r-n6v787 r-1sf4r6n r-1n0xq6e r-bcqeeo r-d3hbe1 r-1wgg2b2 r-axxi2z r-qvutc0"><span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">19</span></span>,
 <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">19</span>]

In [81]:
tweets_list = []
for span in spans:
    # mars_weather = span.find('p').text
    if "InSight" in span.text: 
        tweets_list.append(span.text)
        break
    else:
        pass
# mars_dict["weather"] = tweets_list[0]

In [82]:
span.text

'InSight sol 593 (2020-07-27) low -91.8ºC (-133.2ºF) high -16.0ºC (3.3ºF)\nwinds from the WNW at 6.5 m/s (14.4 mph) gusting to 18.8 m/s (42.1 mph)\npressure at 7.90 hPa'

In [83]:
browser.quit()

### Mars Facts - table 1

In [84]:
facts_url = 'https://space-facts.com/mars/'

In [85]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [86]:
browser.visit(facts_url)

In [87]:
tables = pd.read_html(facts_url)

In [88]:
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [89]:
type(tables)

list

In [91]:
mars_table_df = tables[0]
mars_table_df.columns = [0, 1]
mars_table_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [92]:
type(mars_table_df)

pandas.core.frame.DataFrame

In [93]:
# mars_table_df = df[1]
mars_table_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [94]:
mars_table_df.columns = ['Description', 'Value']

In [95]:
type(mars_table_df)

pandas.core.frame.DataFrame

In [96]:
html_table = mars_table_df.to_html(header = True, index = False)

In [98]:
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th>Description</th>\n      <th>Value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [99]:
browser.quit()

### Mars facts - table 2

In [75]:
facts_url = 'https://space-facts.com/mars/'

In [76]:
mars_facts = pd.read_html(facts_url)

In [77]:
mars_df = mars_facts[0]
mars_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [78]:
mars_df.columns = ['Description','Value']

In [79]:
mars_df.set_index('Description', inplace=True)

In [80]:
html_table = mars_df.to_html()

In [81]:
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [82]:
browser.quit()

### Mars Hemispheres

In [100]:
hemi_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"

In [101]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [102]:
browser.visit(hemi_url)

In [104]:
html = browser.html

In [105]:
soup = BeautifulSoup(html, 'html.parser')

In [106]:
soup.text.strip()

'Astropedia Search Results | USGS Astrogeology Science Center\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nLunar and Planetary Cartographic Catalog\n\n\n\n\n\n\n\n\n\n\nProducts\n4 Results\nCollapse\n\n\nCerberus Hemisphere Enhancedimage/tiff 21 MBMosaic of the Cerberus hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of 104 Viking Orbiter images acquired… Schiaparelli Hemisphere Enhancedimage/tiff 35 MBMosaic of the Schiaparelli hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. The images were acquired in 1980 during early northern… Syrtis Major Hemisphere Enhancedimage/tiff 25 MBMosaic of the Syrtis Major hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of about 100 red and violet… Valles Marineris Hemisphere Enhancedimage/tiff 27 MBMosaic of the Valles Marineris hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. The distance is 2500 kilometers from the surface of… \n \n\n\n\n\n\n\n\n\nISIS\n\n\n\nPlanetary Nomenclature\n\n\n\nMap a Planet 2\n\n\n\nPDS Cartography and Imaging Science Node\n\n\n\n\nRPIF\n\n\n\nPhotogrammetry Guest Facility\n\n\n\nPILOT\n\n\n\nMRCTR GIS Lab\n\n\n\n\n\nSearch |\n\t\t\t\t\tAbout |\n\t\t\t\t\tContact\n\n\nUSGS Astrogeology Science Center'

In [107]:
img_items = soup.find_all('a', class_='itemLink product-item')
img_items

[<a class="itemLink product-item" href="/search/map/Mars/Viking/cerberus_enhanced"><img alt="Cerberus Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/39d3266553462198bd2fbc4d18fbed17_cerberus_enhanced.tif_thumb.png"/></a>,
 <a class="itemLink product-item" href="/search/map/Mars/Viking/cerberus_enhanced"><h3>Cerberus Hemisphere Enhanced</h3></a>,
 <a class="itemLink product-item" href="/search/map/Mars/Viking/schiaparelli_enhanced"><img alt="Schiaparelli Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/08eac6e22c07fb1fe72223a79252de20_schiaparelli_enhanced.tif_thumb.png"/></a>,
 <a class="itemLink product-item" href="/search/map/Mars/Viking/schiaparelli_enhanced"><h3>Schiaparelli Hemisphere Enhanced</h3></a>,
 <a class="itemLink product-item" href="/search/map/Mars/Viking/syrtis_major_enhanced"><img alt="Syrtis Major Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/55a0a1e2796313fdeafb17c35925e8ac_syrtis_major_enhanced.tif_thumb.png"/></a>,
 <a class="itemLink product-item" href="/search/map/Mars/Viking/syrtis_major_enhanced"><h3>Syrtis Major Hemisphere Enhanced</h3></a>,
 <a class="itemLink product-item" href="/search/map/Mars/Viking/valles_marineris_enhanced"><img alt="Valles Marineris Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/4e59980c1c57f89c680c0e1ccabbeff1_valles_marineris_enhanced.tif_thumb.png"/></a>,
 <a class="itemLink product-item" href="/search/map/Mars/Viking/valles_marineris_enhanced"><h3>Valles Marineris Hemisphere Enhanced</h3></a>]

In [108]:
for item in img_items:
    soup.find_all('h3')
    print(item)

<a class="itemLink product-item" href="/search/map/Mars/Viking/cerberus_enhanced"><img alt="Cerberus Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/39d3266553462198bd2fbc4d18fbed17_cerberus_enhanced.tif_thumb.png"/></a>
<a class="itemLink product-item" href="/search/map/Mars/Viking/cerberus_enhanced"><h3>Cerberus Hemisphere Enhanced</h3></a>
<a class="itemLink product-item" href="/search/map/Mars/Viking/schiaparelli_enhanced"><img alt="Schiaparelli Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/08eac6e22c07fb1fe72223a79252de20_schiaparelli_enhanced.tif_thumb.png"/></a>
<a class="itemLink product-item" href="/search/map/Mars/Viking/schiaparelli_enhanced"><h3>Schiaparelli Hemisphere Enhanced</h3></a>
<a class="itemLink product-item" href="/search/map/Mars/Viking/syrtis_major_enhanced"><img alt="Syrtis Major Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/55a0a1e2796313fdeafb17c35925e8ac_syrtis_major_enhanced.tif_thumb.png"/></a>
<a class="itemLink product-item" href="/search/map/Mars/Viking/syrtis_major_enhanced"><h3>Syrtis Major Hemisphere Enhanced</h3></a>
<a class="itemLink product-item" href="/search/map/Mars/Viking/valles_marineris_enhanced"><img alt="Valles Marineris Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/4e59980c1c57f89c680c0e1ccabbeff1_valles_marineris_enhanced.tif_thumb.png"/></a>
<a class="itemLink product-item" href="/search/map/Mars/Viking/valles_marineris_enhanced"><h3>Valles Marineris Hemisphere Enhanced</h3></a>

In [109]:
img_item_list = []

In [110]:
for item in img_items:
    if "InSight" in item.text: 
        print('item:', '-------------')
        print(tweet.text)
        img_item_list.append(tweet.text)

#     browser.click_link_by_text('Next ')

In [111]:
links = browser.find_by_css("a.product-item h3")
links

In [112]:
len(links)

4

In [113]:
links[0].text

'Cerberus Hemisphere Enhanced'

In [114]:
for i in range(len(links)):
    print(f"{i}: {links[i].text}")

0: Cerberus Hemisphere Enhanced
1: Schiaparelli Hemisphere Enhanced
2: Syrtis Major Hemisphere Enhanced
3: Valles Marineris Hemisphere Enhanced

In [115]:
browser.find_by_css("a.product-item h3")[i].click()

In [116]:
browser.find_by_css("h2.title").text

'Valles Marineris Hemisphere Enhanced'

In [117]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [ ]:
img_info_summary = []
for i in range(len(links)):
    hemi_dict = {}  
    # Open the browser, find the link for the image. Click on the link.
    browser.visit(hemi_url)
    browser.find_by_css("a.product-item h3")[i].click() 
    # Get text from the page title header 2
    hemi_dict['title'] = browser.find_by_css("h2.title").text
    # get sample link
    sample_elem = browser.links.find_by_text('Original').first
    hemi_dict['img_url'] = sample_elem['href']
    # parse to html
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    img_info_summary.append(hemi_dict)
    print(hemi_dict)
# browser.quit()

In [101]:
browser.quit()